<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="OpenVibeVRPNStreamer" value="openvibe-vrpn@localhost"/> <!--default VRPN port is 3883-->
    <add key="OctaveInstallDir" value=""/>
    <add key="Charting.DelayInMs" value="10"/> <!--actual delay is bigger than this value-->
    <add key="Charting.PointsBuffer" value="260"/>
  </appSettings>
  
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="AForge" publicKeyToken="C1DB6FF4EAA06AEB" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.5.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AForge.Math" publicKeyToken="ABBA2E25397EE8C9" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.5.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
    <requiredRuntime version="v4.0.20506"/>
  </startup>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="logfile" xsi:type="File" fileName="log.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="logfile" />
    </rules>
  </nlog>
  
</configuration>
